.container_footer_copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
  margin: 20px auto;
  padding: 0 20px;
  text-align: center;
}

.container_footer_copy p {
  font-size: 14px;
  color: #000;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .container_footer_copy {
    padding: 0 15px; /* Ajustar padding */
    margin: 20px auto 40px; /* Aumentar margem inferior */
  }

  .container_footer_copy p {
    font-size: 12px; /* Reduzir fonte */
  }

  .container_footer_copy .cartoes img {
    /* Imagem de cartões */
    max-width: 90%; /* Ajustar largura */
    height: auto;
    margin-top: 15px;
  }
}
