.container_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1920px;
  background-color: #dbdbdb;
  margin-top: 40px;
  padding: 90px 0;
}

.container_footer_image {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

.footer_image {
  width: 100%;
  max-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer_image img {
  width: 100%;
  max-width: 152px;
}

.redes_sociais {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 10px;
}

.redes_sociais a {
  color: #000;
  font-size: 20px;
}

.footer_text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 0px;
  padding: 0;
  width: 100%;
}

.footer_text ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer_text ul li {
  margin-bottom: 10px;
}

.footer_text ul li b {
  font-weight: bold;
}

.footer_text ul li a {
  text-decoration: none;
  color: #000;
}

.footer_text ul li a:hover {
  color: #000;
}

/* Mobile Styles */
@media (max-width: 768px) {
    

  .container_footer_image {
    flex-direction: column; /* Empilhar logo/social e texto */
    align-items: center; /* Centralizar itens empilhados */
    gap: 30px; /* Espaço entre logo/social e colunas de texto */
    text-align: center; /* Centralizar texto dentro das colunas */
  }

  .footer_image {
    max-width: 100%; /* Permitir que o logo/social use a largura */
  }

  .footer_text {
    flex-direction: column; /* Empilhar colunas de texto */
    align-items: center; /* Centralizar colunas */
    gap: 20px; /* Espaço entre colunas */
    width: 100%;
  }

  .footer_text ul {
    align-items: center; /* Centralizar itens da lista */
    width: 100%;
  }

  .pagamentos img {
    /* Ajustar imagem de pagamentos */
    max-width: 90%;
    height: auto;
    margin-top: 30px;
  }
}
